$primary-color: #0d253f;
$secondary-color: #01b4e4;
$tertiary-color: #90cea1;
$danger-color: #ea3030;

$white-color: #fff;
$transparent-color: rgba(255,255,255,0);

$border-radius-base: 4px;

$font-size-base: 16px;
