@import "../../styles/variables";
@import "../../styles/mixin";

.modal {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 50px auto;

  @include tablet {
    margin-top: 0;
  }

  &__body {
    background-color: $white-color;
    border-radius: $border-radius-base;

    padding: 20px;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    position: fixed;
    top: 0;
    left: 0;

    background-color: transparentize($primary-color, 0.5);
  }
}
