@import "../../styles/variables";

.input-text {
  padding-bottom: 20px;
  margin-bottom: 10px;
  position: relative;

  input {
    font-size: $font-size-base;
    color: $primary-color;

    width: 100%;
    padding: 10px;

    border-radius: $border-radius-base;
    border: 1px solid $primary-color;
  }

  &--error {
    input {
      border-color: $danger-color;
    }
  }
}
